{% extends "layout.html" %}
{% load socialaccount %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="place_list_section">
            <div class="title">Places List</div>
            <div class="wrap_home_content">
                <div class="wrap_add_btn">
                    <a class="add_btn" href="{% url 'places:place_new' %}">
                        ADD A MEMORY
                    </a>
                </div>
    
                {% if places %}
                    <div class="place_list">
                        {% for place in places %}
                            <div class="place_item">
                                <div class="left_content">
                                    <div class="place_name">
                                        {{ place.name }}
                                    </div>
                                    <div class="place_comments">{{ place.comments }}</div>
                                    <div class="place_positions">{{ place.latitude }} - {{ place.longitude }}</div>    
                                    <div class="place_btn">
                                        <a href="{% url 'places:place_update' place.id %}">
                                            <div class="update_btn">Update</div>
                                        </a>
                                        <a href="{% url 'places:place_delete' place.id %}">
                                            <div class="delete_btn">Delete</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="right_content">
                                    <div id="map_{{ place.id }}" class="map" style="height: 200px;"></div>
                                    <div class="right_place_btn">
                                        <a href="{% url 'places:place_update' place.id %}">
                                            <div class="update_btn">Update</div>
                                        </a>
                                        <a href="{% url 'places:place_delete' place.id %}">
                                            <div class="delete_btn">Delete</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>YOU HAVE NO MEMORIES</p>
                {% endif %}                  
            </div>
        </section>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                {% for place in places %}
                    var map_{{ place.id }} = L.map("map_{{ place.id }}").setView([{{ place.latitude }}, {{ place.longitude }}], 5);
                    
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMappp</a>'
                    }).addTo(map_{{ place.id }});
            
                    var marker_{{ place.id }} = L.marker([{{ place.latitude }}, {{ place.longitude }}]).addTo(map_{{ place.id }});
                    marker_{{ place.id }}.bindPopup("{{ place.name }}").openPopup();
                {% endfor %}

                const commentsElements = document.querySelectorAll(".place_comments");
                commentsElements.forEach(function(element) {
                    const originalText = element.textContent;
                    const truncatedText = originalText.slice(0, 120); // Limit to 120 characters
                    if (originalText.length > 120) {
                        element.textContent = truncatedText + "..."; // Add ellipsis
                    }
                });
            }); 
        </script>
    {% else %}
        <h2>Welcome to Places Remember!!!!!</h2>
    {% endif %}

{% endblock content %}
