{% extends "layout.html" %} 

{% if user.is_authenticated %}
    {% block title %} 
        Delete Place
    {% endblock title %} 

    {% block content %}
        <div class="confirm_delete_form_title">Are you sure to delete {{ place.name }}?</div>
        <form method="post">
            {% csrf_token %}
            <div class="form_btn_list">
                <button class="submit_form_btn" type='submit'>Delete</button>
                <a class="cancel_form_btn" href="{% url 'users:home' %}">Cancel</a>
            </div>
        </form>
    {% endblock content %}
{% endif %}
